
/* ----- FOOTER BOX ----- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}

.top-footer p {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-second);
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-social-icons {
    display: flex;
    gap: 30px;
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-second);
}