/* ----- NAVIGATION BAR ----- */
header {
    position: fixed;
    font-family: 'Abril Fatface', serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 8vw;
    align-items: center;
    z-index: 50;
    top: 0;
    /* Ensure it's fixed to the top */
}

.nav-logo {
    font-weight: 100;
    color: #6429EF;
    margin-right: 150px;
}

.nav-logo span {
    font-size: 35px;
    color: var(--text-color-second);
}

.nav_menu {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}

.nav_list {
    padding: 0 30px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color-second);
    font-size: 18px;
    transition: .3s;
}

.nav-link:hover {
    color: var(--first-color)
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 20px;

}

.btn {
    padding: 0 24px;
    height: 45px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .3s;
    display: flex;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.CV-btn {
    font-family: "Abril Fatface", serif;
    background-color: #e7dbdb;
    display: flex;
    align-items: center;
    color: #000;
}

.CV-btn i {
    margin-right: 5px;
    color: #000;
}

.nav-button span {
    color: var(--text-color-second);
    cursor: pointer;
}

.nav-button .dark-mode-toggle {
    font-size: 18px;
}

.nav-button .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-button .CV-btn span {
    color: #000;
}

.nav-button a {
    text-decoration: none;
}


