/* ABRI FATFACE FONT */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root {
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);
    --text-color-second: rgb(0, 0, 0);
    --text-color-third: #372461;

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: #372461;
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.2);
    --description: #fff;

}

body.dark-mode {
    --text-color-second: #ffffff;
    --text-color-third: #6429ef;
    --color-white: #141010;
    --body-color: #0f0f0f;
    --second-color: #6429ef;
    --description: rgb(18, 18, 18);

}

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- SMOOTH SCROLL ----- */
html {
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}


/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn>i {
    margin-left: 10px;
}

.btn:hover {
    background: var(--second-color);
    color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
    font-size: 16px;
}

/* ------- BASE -------- */
body {
    background: var(--body-color);
}

.container {
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
header {
    position: fixed;
    font-family: 'Abril Fatface', serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 8vw;
    align-items: center;
    z-index: 50;
    top: 0;
    /* Ensure it's fixed to the top */
}

.nav-logo {
    font-weight: 100;
    color: #6429EF;
    margin-right: 150px;
}

.nav-logo span {
    font-size: 35px;
    color: var(--text-color-second);
}

.nav_menu {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}

.nav_list {
    padding: 0 30px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color-second);
    font-size: 18px;
    transition: .3s;
}

.nav-link:hover {
    color: var(--first-color)
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 20px;

}

.btn {
    padding: 0 24px;
    height: 45px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .3s;
    display: flex;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.CV-btn {
    font-family: "Abril Fatface", serif;
    background-color: #e7dbdb;
    display: flex;
    align-items: center;
    color: #000;
}

.CV-btn i {
    margin-right: 5px;
    color: #000;
}

.nav-button span {
    color: var(--text-color-second);
    cursor: pointer;
}

.nav-button .dark-mode-toggle {
    font-size: 18px;
}

.nav-button .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-button .CV-btn span {
    color: #000;
}

.nav-button a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/* ----- FEATURED BOX ----- */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
    position: relative;
    display: flex;
    padding: 0 8vw;
    height: 120vh;
    width: 100%;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.featured-name {
    font-family: "Abril Fatface", serif;
    font-size: 40px;
    color: var(--text-color-second);
    margin-bottom: 20px;
}

.small-text {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.big-text {
    font-size: 40px;
    color: var(--second-color);
    font-weight: 20;

}

.typedText {
    text-transform: capitalize;
    color: var(--text-color-third);
    font-weight: 20;
}

.featured-text-info {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
    font-size: 17px;
    width: 500px;
    color: var(--text-color-second);
    font-weight: 500;
    font-style: italic;
    text-align: justify;

}

.featured-text-btn {
    display: flex;
    gap: 20px;
}

.featured-text-btn>.blue-btn {
    background: var(--first-color);
    color: var(--color-white);
}

.featured-text-btn>.blue-btn:hover {
    background: var(--first-color-hover);
}

.social_icons {
    display: flex;
    margin-top: 1em;
    gap: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px var(--text-color-second);
    cursor: pointer;
    font-size: 30px;
}

.icon:hover {
    color: var(--first-color);
}

/* Add this to your existing CSS */

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    /* Remove underline */
    color: var(--text-color-second);
    /* Set default icon color */
    transition: color 0.3s ease;
    /* Add a smooth color transition */
}

.icon-link:hover {
    color: var(--first-color);
    /* Change icon color on hover to the theme color */
}


/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 60vh;
    width: 40%;
}

.image {
    margin: auto 0;
    width: 500px;
    /* Adjust the width as needed */
    height: 600px;
    /* Adjust the height as needed */
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}

.image img {
    width: 100%;
    /* Make sure the image fills the container */
    height: 100%;
    /* Make sure the image fills the container */
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

.scroll-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.scroll-btn i {
    font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section {
    padding-block: 5em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}


/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
    text-align: center;
    margin-bottom: 5em;
    margin-top: -60px;
}

.top-header h1 {
    color: var(--text-color-second);
    margin-bottom: 10px;
    font-family: 'Abril Fatface', serif;

}

.top-header span {
    color: #999;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

.about-photo {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    /* Align to the right */
    margin-left: 130px;
    /* Adjust margin as needed */
}

.about-photo img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.col {
    margin-inline-start: 20px;
}



/* ----- ABOUT INFO ----- */

.about-info {
    position: relative;
    display: flex;
    align-items: flex-start;
    /* Align items to the start of the cross-axis (top) */
    flex-direction: column;
    padding-block: 30px 40px;
    /* Adjust top and bottom padding as needed */
    margin-left: -220px;
    /* Adjust the margin to create space after the photo */
    width: 125%;
    /* Adjust width to 100% */
    background: transparent;
    /* Remove the background color */
}
.about-info p span{
    font-size: 38px;
    font-family: "Abril Fatface", serif;
    

}
.col {
    margin-inline-start: 20px;
    /* Adjust the margin to create space between photo and introduction */
}

.about-info h3 {
    font-family: 'Abril Fatface', serif;
    /* Apply specified font family */
    font-size: 36px;
    /* Adjust font size */
    margin-bottom: 10px;
    /* Adjust margin for spacing */
}

.about-info p {
    text-align: justify;
    /* Align introduction text to the left */
    font-family: 'Poppins', sans-serif;
    /* Apply specified font family */
    font-size: 16px;
    /* Adjust font size */
    color: var(--text-color-second);
    margin-top: 20px;
    /* Adjust margin for spacing */
    font-style: italic;
    font-weight: 420;
}

/* ----- ADDITIONAL STYLING ----- */
.about-details {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
    /* Adjust margin for spacing */
}

.details-column {
    flex: 1;
}

.details-column h3 {
    font-size: 20px;

    margin-bottom: 15px;
}

.details-column ul {
    list-style-type: none;
    padding: 0;
    color: var(--text-color-second);
    text-align: left;


}

.details-column li {
    font-family: 'Poppins', sans-serif;
    /* Apply specified font family */
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: left
}
.details-column li i, a{
    font-weight: 450;
}

.details-column strong {
    font-weight: bold;
}

.details-column ul {
    margin-top: 10px;
}

.logo {
    width: 24px;
    /* Adjust the width of the logo */
    margin-right: 8px;
    margin-bottom: -6px;
    /* Adjust the margin between the logo and text */
}

/* ----- ADDITIONAL STYLING ----- */


/* ----- READ MORE BUTTON AND DESCRIPTION BOX ----- */
/* Add this to your existing CSS or customize accordingly */
.read-more-btn {
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    color: var(--text-color-second);
}

.read-more-btn:hover {
    color: red;
}

.description-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--description);
    box-shadow: 0 0 10px black;
    z-index: 999;
    max-width: 80%;
    max-height: 80%;
    /* Set a maximum height for scrollability */
    overflow-y: auto;
    /* Enable vertical scroll if content exceeds max-height */
    border-radius: 14px;
    padding: 50px 130px;
    opacity: 0.9;
}

.description-box ul {
    text-align: left;
    margin-left: -100px;
    margin-right: -100px;
    color: var(--text-color-second);
    font-family: "Poppins", sans-serif;
    /* Add left padding as needed */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #555;
    font-size: 18px;
}

/* Add this to your existing CSS */

.company-link {
    color: var(--text-color-second);
    /* Set the color to your theme color */
    text-decoration: none;
    transition: color 0.3s ease;
    /* Add a smooth transition effect */
}

.company-link:hover {
    color: #6429EF;
    /* Change the color on hover */
}

.glimpse-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* Adjust font size with vw unit */
    font-weight: 550;
    color: var(--text-color-second);
    margin-bottom: 20px;
    margin-left: 5%;
    /* Use percentage for responsive margins */
    
    /* Use percentage for responsive margins */
    width: 250%;
    /* Prevent text overflow on smaller screens */
}


/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
    margin: 20px 0px;
    margin-left: 80px;
    /* Add bottom margin to move the skill boxes down */
}

.skills-header {
    margin-bottom: 10px;
    font-family: 'Abril Fatface', serif;
    /* Apply specified font family */
    font-size: 17px;
    /* Adjust margin as needed */

}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-list span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
    font-style: italic;
    font-weight: 450;
}

.about-section {
    padding: 80px 0;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--text-color-second);
    margin-top: 30px;
}

/* ----- PROJECTS BOX ----- */
.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center;
    margin: 0px 10px;
}

/* Add margin to the left side of project boxes */


.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.7;
    /* Ensure the image covers the entire container */
}

.project-box:hover img {
    opacity: 1;
    /* Opacity on hover */
}

body.dark-mode .project-box img {
    opacity: 0.5;
    /* Adjust the opacity for dark mode */
}

body.dark-mode .project-box:hover img {
    opacity: 0.8;
    /* Adjust the opacity on hover for dark mode */
}

.project-box i {
    font-size: 50px;
    color: #00B5E7;
    margin-bottom: 25px;
}

.project-box label {
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.project-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100%;
    right: 0;
    background: rgba(58, 41, 114, 0.8);
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s;
}

.project-box:hover::after {
    opacity: 1;
    bottom: 0;
    /* Show overlay on hover */
}

.project-box:hover i,
.project-box:hover h3 {
    color: var(--color-white);
    z-index: 2;
}

.view-more {
    cursor: pointer;
    width: 100%;
    text-align: center;
    background: var(--second-color);
    color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Initially hide additional project boxes */
.hidden {
    display: none;
}

/* Add this CSS for the project description box */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #555;
    font-size: 18px;
    display: none;
    /* Initially hide close button */
    font-family: 'Poppins', sans-serif;
}

.description-box:hover .close-btn {
    display: block;
    /* Show close button on hover */
}

.project-box.hidden .close-btn {
    display: none;
    /* Hide close button for hidden project boxes */
}

.project-box h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-second);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    z-index: 2;
    text-align: center;
    margin: 0;
    /* Add border around the text */
    /* Add padding for better visibility */
    /* Remove default margin for better centering */
}

.project-box label {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-second);
    z-index: 2;
    position: relative;

}

.project-box label ul {
    margin-left: -90px;
    margin-right: -100px;
    text-align: left;
}

/* ----- CONTACT BOX ----- */
.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}

.contact-info>h2 {
    color: var(--color-white);
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.contact-info>p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}

.contact-info p>i {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.contact-info::after {
    background: var(--color-white);
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
    color: var(--text-color-second);
    z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-left: -30px;
}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field {
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}

textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}

.form-button>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
}

.form-button>.btn:hover {
    background: #7148ee;
}

.form-button i {
    font-size: 18px;
    rotate: -45deg;
    display: flex;
    align-items: center;

}

/* ----- CONTACT FORM STYLING ----- */
.form-control,
.form-inputs,
.input-field,
textarea,
.form-button,
.form-button .btn {
    font-family: 'Poppins', sans-serif;
}

/* Additional styling for button icon */
.form-button i {
    font-size: 18px;
    rotate: -45deg;
    /* Note: This property may not work as intended. Consider using 'transform' instead. */
}

/* ----- FOOTER BOX ----- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}

.top-footer p {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-second);
    /* Apply specified font family */
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
    font-family: 'Poppins', sans-serif;
    /* Apply specified font family */
}

.footer-social-icons {
    display: flex;
    gap: 30px;
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-second);
    /* Apply specified font family */
}

/* ----- MEDIA QUERY == 1052px / RESPONSIVE ----- */
@media (max-width: 1231px) {

    header,
    .featured-text {
        padding: 0 4vw;
    }

    .featured-image {

        width: 100%;
    }

    .image,
    .image img {
        width: 400px;
        height: 500px;
    }
}

@media (max-width: 962px) {
    header {
        position: relative;
    }

    .nav-button .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .nav_menu.display-menu {
        display: flex;
    }

    .nav_menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
        width: 300px;
        padding: 40px 0;
        border-radius: 20px 0 20px 20px;
        box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
    }

    .nav_list {
        margin: 20px 0;
    }

    .nav-link {
        color: black;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: center;
        min-height: 20vh;
        margin-top: -70px;
    }
    .small-text{
        font-size: 20px;
    }
    .big-text{
        font-size: 32px;
    }

    .social_icons {
        margin-top: 0px;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: -60px;
    }

    .image,
    .image img {
        width: 200px;
        height: 200px;
    }


    .featured-text-info {
        width: 100%;
        margin-top: -20px;
        font-size: 15px;
        /* Adjust as needed */
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-link {
        padding: 10px;
        /* Adjust as needed */
    }

    .btn {
        padding: 0 15px;
        /* Adjust as needed */
        height: 40px;
        /* Adjust as needed */
    }

}

/* Add any other adjustments needed for a better responsive layout */


/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px) {
    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }
}

/* ----- ABOUT SECTION MEDIA QUERY == 1300px / RESPONSIVE ----- */
@media (max-width: 1300px) {
    .about-info {
        padding: 0 4vw;
        margin-left: -160px; /* Adjust to remove the negative margin on smaller screens */
        width: 140%;
        font-size: 14px;
    }

    .about-photo {
        display: flex;
        width: 100%;
        margin-left: -150px;

        
        
        
        margin-right: -200px;
    }

    .about-photo img {
        width: 260px;
        height: 300px;
    }
    
}


@media (max-width: 962px) {


    .glimpse-text {
        font-size: 18px;
        text-align: left;
        margin-top: 20px;
        /* Adjust as needed */
    }

    .about-photo {
        text-align: center;
        margin-top: 20px;
        margin-left: -10%;
    }

    .about-photo img {
        width: 210px; /* Adjust as needed */
        height: 250px; /* Adjust as needed */
        margin: 0 auto;
       /* Center the image */
    }

    .about-info {
        justify-content: center;
        align-content: left;
        min-height: auto;
        margin: 20px;
        margin-left: -200px;
        /* Adjust to remove the negative margin on smaller screens */
        width: 170%;
        font-size: 12px;
        /* Adjust to take the full width on smaller screens */
        /* Adjust as needed */
    }

    .about-info .details-column {
        margin-inline-start: 0;
        margin-top: 20px;
        order: 3;
        font-size: 10px;
        /* Adjust as needed */
    }

    .about-info .about-details {
        padding: 20px;
        order: 999;
        font-size: small;
    }

    .about-info p,
    .about-info .details-column li,
    .glimpse-text {
        font-size: 16px; /* Adjust as needed */
    }
    .details-column i {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .details-column h3 {
        font-size: 18px; /* Adjust as needed */
    }
    .glimpse-text {
        font-size: 16px;
        text-align: left;
        margin-right: 200px;
        width: 170%;
}
}
@media (max-width: 780px) {
    .about-photo {
        display: none;
    }
    .about-info {
        margin: 20px;
        margin-left: -350px;
        width: 200%;
    }

    .details-column {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
    }

    /* Responsive Font Size */
    .about-info p,
    .about-info .details-column li
{
        font-size: 13px;
    }
    .details-column i {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .details-column h3 {
        font-size: 17px;
    }
    .glimpse-text {
        font-size: 16px;
        text-align: left;
        margin-right: 150px;
        width: 180%;
    /* Adjust other font sizes as needed */
}
}

/* ----- ABOUT SECTION MEDIA QUERY == 640px / RESPONSIVE ----- */
@media only screen and (max-width: 640px) {
    .glimpse-text {
        font-size: 15px;
        text-align: justify;
        margin-right: 200px;
        width: 110%;
        margin-left: 0px;
        /* Adjust as needed */

    }

    .skills-box {
        width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 0px;
        
        /* Adjust as needed */
    }
    .about-info {
        font-size: 18px;
        margin-left: -230px; 
        margin-top: -30px;
        width: 250%;
        text-align: left;
        /* Adjust the font size as needed */
    }
    .details-column {
        flex-direction: column;
        margin-top: 20px;
        text-align: left;
        align-items: left;
        margin: 0; /* Reset margin for smaller screens */
        padding: 0px 10px;
        /* Adjust as needed */
    }
    .details-column li, i {
        font-size: 14px;
    }
    .about-info .skills-box .skills-list span {
        width: 190%;
    }

    .about-info .about-details {
        margin-left: 0;
    }
    .about-details {
        flex-direction: column;
    }
    .about-info h3, .skills-header h3{
        font-size: 18px;
        text-align: left;
    }
    .skills-list span {
        font-size: 14px;
    }

    .about-info p,
    .about-info {
        font-size: 15px;
        text-align: justify;
    }
    
    
    /* Add margin to the left side of project boxes */
    .project-box {
        margin-right: 10px;
        /* Adjust as needed */
    }
    .contact-info>p{
        font-size: 12px;
        margin-right: 30px;
        margin-left: 18px;
    }
}
